<h1>create student detail</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-3">
  	<%= render 'shared/error' %>
		<%= render 'form', student: @student %>

		<%= f.submit "Submit",class:"submit", type:"button" %>
	</div>
</div>




